html,
body
  scrollbar-color: var(--cor-azul) var(--cor-cinza-claro)
  scrollbar-width: thin

::-webkit-scrollbar
  width: 10px
  height: 10px

::-webkit-scrollbar-track
  background: var(--cor-cinza-claro)

::-webkit-scrollbar-thumb
  background: var(--cor-azul-medio)
  border: 2px solid var(--cor-cinza-claro)
  border-radius: 10px
  transition: background 0.3s

  &:hover
    background: var(--cor-azul)
